// font
$font-global: "Roboto", sans-serif;
$font-path: "../assets/fonts";

// color
$color-global: #252525;
$color-white: #ffffff;
$color-primary: #0060b8;
$color-success: #3e7850;
$color-danger: #db524e;
$color-extra: #2d4936;
$color-base: #232323;
$color-general: #b4b4b4;
$color-factory: #686868;
$color-special: #e5e5e5;
$color-secondary: #cacaca;
$color-basic: #f7f7f7;
$color-excess: rgba(0, 0, 0, 0.05);
$color-additional: rgba(0, 0, 0, 0.1);
$color-other: rgba(0, 0, 0, 0.2);
// $color-warning: #ffc107;
// $color-menace: #f9e3e3;
// $color-normal: rgba(1, 167, 253, 0.56);
// $color-info: rgba(51, 51, 51, 0.16);
